#dropdown{
    background-color: #198119;
}

body { 
  --Tcolor: #ffffff; 
  --popup-count: 10; 
  font-family: Montserrat, sans-serif; 
  font-size: 16px; 
  overflow: hidden;
  margin-bottom: 200px;
} 

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.btn {  
  color: var(--Tcolor);  
  font-weight: bold;
  display: flex; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; 
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5); 
  cursor: pointer; 
  transition: all 150ms ease-out;
} 

.popup-open {  
  background-color: #39b34a;
  margin-left: 40px;
  margin-right: 88vw;
  font-weight: bold;
  font-size: 1.5vh;
  cursor: pointer; 
  transition: all 150ms ease-out;
  border-radius: 5px;
  border-width: 2px 2px;
  border-style: solid;
  padding: 5px 5px 5px 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} 

.popup-opener {  
  display: none;
} 

.popup-opener:checked + .popup { 
  transform: scale(1); 
  width: 84vw;   
  bottom: 0px; 
  right: 0px;  
  height: 88vh;   
  border-radius: 50px 0px 0px 0px; 
} 
  
.popup-header {  
  justify-content: space-between;
} 
    
.popup-title {  
  color: #39b34a;  
  font-weight: bold;  
  height: var(--Nheight);  
  margin-left: 20px;    
  align-items: center;
}
  
.btn-popup svg { 
  margin-right: 5px;  
  display: block;
  }
    
.btn-popup svg path {  
    fill: #414141;
}
    
.popup-link-opener {  
  display: none;
}
    
.popup {  
  margin: 12vh 0px 0px 16vw;
  padding: 0px 0px 0px 40px; 
  background-color: #2e2629 ; 
  color:white; 
  display: grid; 
  grid-template-rows: var(--Nheight) 30% auto;
  grid-template-columns: 100%; 
  position: absolute; 
  top: 0; left: 0; transform: scale(0); 
  transition: transform 300ms ease; 
}

.background_white{ 
  height: 88vh; 
  width: 84vw; 
  background-color: rgb(255, 255, 255); 
  bottom: 0px; right: 0px; 
  position: absolute; 
  border-radius: 50px 0px 0px 0px;  
  border: 1px solid rgb(197, 197, 197);
  overflow-y: scroll;
} 

.background_white::-webkit-scrollbar {
  display: none;
}

.header-row {
  border-bottom: 1px solid #ccc; 
}

label { 
  display: block; 
}

.radio-option { 
  padding: 0 5px; 
  cursor: pointer; 
}

label:not(.error) .error-info { 
  display: none; 
}

.header-btn { 
  margin: 20px; 
}

#content .dropdown { 
  position: initial; 
  overflow: auto; 
}

#content .dropdown-menu li {
  display: block; 
}

.inline { 
  display: inline-block; 
}
  
.line{
  background-color: black;
  height: 1px;
  border: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

br{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  position: relative;
  min-height: 100%;
}

.card { 
  background-color: #39b34a; 
  align-content: center;
  border-width: 2px 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}
    
.cards { 
  max-width: 700px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}
    
.reading { 
  font-size: 2.8re; 
}
    
.temperature1 {
  color: white;
  font-size: 24px;
  margin: 10px 200px 0px -200px;
  border-radius: 15px;
}

.temperature2 {
  color: white;
  font-size: 24px;
  margin: 10px 200px 0px -200px;
  border-radius: 15px;
}

.temperature3 {
  color: white;
  font-size: 24px;
  margin: -239px -520px 280px 520px;
  border-radius: 15px;
}

.temperature4 {
  color: white;
  font-size: 24px;
  margin: 0px 560px 40px -560px;
  border-radius: 15px;
}

.temperature5 {
  color: white;
  font-size: 24px;
  margin: -280px -160px 280px 160px;
  border-radius: 15px;
}

.temperature6 {
  color: white;
  font-size: 24px;
  margin: -280px -160px 280px 160px;
  border-radius: 15px;
}

.temperature7 {
  color: white;
  font-size: 24px;
  margin: -280px 200px 290px -200px;
  border-radius: 15px;
}

.temperature8 {
  color: white;
  font-size: 24px;
  margin: -280px 200px 290px -200px;
  border-radius: 15px;
}

.temperature9 {
  color: white;
  font-size: 24px;
  margin: -529px -520px 540px 520px;
  border-radius: 15px;
}

.temperature10 {
  color: white;
  font-size: 24px;
  margin: -290px 560px 300px -560px;
  border-radius: 15px;
}

.temperature11 {
  color: white;
  font-size: 24px;
  margin: -540px -160px 550px 160px;
  border-radius: 15px;
}

.temperature12 {
  color: white;
  font-size: 24px;
  margin: -540px -160px 550px 160px;
  border-radius: 15px;
}

.pcon {
  color: white;
  font-size: 24px;
  text-align: center;
}

p{
  font-size: 3vh;
  margin: 5px;
}